<header class="logo">
  <img src="../assets/logo.png">
</header>

<main>
  <div class="bread">
    <h1>
      {{title}}
    </h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 imgleft">
        <div class="bg-tramp">
          <div class="bgwhite">
            <div class="textleft">
              Entre com a quantidade de casos mês a mês:
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <app-dashboard-covid></app-dashboard-covid>
      </div>
    </div>
  </div>
</main>

<footer>
<p>Projeto desenvolvivo por:</p>
<p><i class="fa fa-user"></i> Luca A.R. / <i class="fa fa-user"></i> João Valdevino / <i class="fa fa-user"></i> Gustavo Antonelli <br> <i class="fa fa-user"></i> Jade Oliveira / <i class="fa fa-user"></i> Paulo Henrique / <i class="fa fa-user"></i> Jota Nascimento</p>
</footer>
